/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f4f4f4;
  color: #333;
  display: flex;
  height: 100%;
}

/* Dashboard Layout */
.dashboard {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
  height: 100%;
  padding: 20px;
}

/* Sidebar */
.sidebar {
  width: 200px;
  height: 653px;
  background: white;
  padding: 20px;
  border-radius: 20px;
  margin: 15px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.sidebar h3 {
  font-size: 1.1rem;
  margin-top: 10px;
  padding-top: 15px;
  padding-left: 5px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-email {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.img-profile {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: none;
}

.dashboard-button {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  margin: 5px;
}

/* Main Content */
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
}

.content hr {
  width: 100%;
}

header {
  margin-bottom: 20px;
}

header h1 {
  color: #0d00a4;
  font-size: 2rem;
}

header p {
  color: #666;
}

/* Widgets */
.widgets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.widgets .to-do {
  width: 400px;
  height: 250px;
}

.widgets .time-tracker {
  width: 300px;
  height: 250px;
}

.widgets .activity {
  width: 300px;
  height: 250px;
}

.widgets2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 20px;
  gap: 20px;
}
.widgets2 .news {
  width: 400px;
  height: 150px;
}

.widgets2 .budget-book {
  width: 620px;
  height: 150px;
}

@media (min-width: 1024px) {
  .widgets {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "todo time-tracker activity";
  }

  .widgets2 {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "news budget-book";
  }

  .to-do {
    grid-area: todo;
    height: 100%;
  }

  .time-tracker {
    grid-area: time-tracker;
    justify-self: start;
  }

  .activity {
    grid-area: activity;
    justify-self: start;
  }

  .news {
    grid-area: news;
  }

  .budget-book {
    grid-area: budget-book;
  }
}

.widget {
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.widget h3 {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.to-do ul {
  width: 400px;
  height: 205px;
  list-style: none;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.to-do ul li {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.to-do ul li input {
  margin-right: 10px;
}

.to-do-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.to-do-input-input {
  width: 350px;
  height: 25px;
  border: none;
  font-size: 15px;
  color: #333;
  border-bottom: 1px solid #666;
  outline: none;
}

.to-do-input-button {
  width: 27px;
  height: 27px;
  border: none;
  background-color: white;
  outline: none;
}

.to-do-delete-button {
  margin-left: auto;
}

.plus-button {
  width: 20px;
  height: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 50%;
}

.plus-button:hover {
  background-color: #f0f0f0;
  border-radius: 50%;
}

.delete-button {
  width: 15px;
  height: 15px;
}

.stopwatch {
  font-size: 4rem;
  margin: 40px 0;
  text-align: center;
}

.stopwatch-button-section {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.stopwatch-button {
  border: none;
  border-radius: 50%;
  background-color: white;
  padding: 0 0;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.stopwatch-button:hover {
  background-color: #f0f0f0;
  border-radius: 50%;
}

.pause-button {
  border: none;
  background-color: white;
}

.img-stopwatch-start-button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.img-stopwatch-stop-button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}
